//Color variables
$colorBlack: #000000;
$colorWhite: #FFFFFF;
$colorGray: #EAEAEA;
$colorLightGray: #F7F3FF;
$colorDarkGray: #C8C8C8;
$colorDarkerGray: #999999;
$colorSolidDarkGray: #525252;
$colorLighterPurple: #CC99FF;
$colorLightPurple: #B266FF;
$colorDarkPurple: #7844AD;
$colorSemiDarkPurple: #9033ED;
$colorRed: #FF1A1A;
$colorSmallLighterRed: #FF4D4D;
$colorLightRed: #FFCCCC;