@import "src/styles/variables";

.toDoContent {
  width: 80%;
  height: 90%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  margin: 7px 10px;

  .header {
    width: 100%;
    height: auto;
    margin-bottom: 20px;

    p {
      font-weight: 700;
      font-size: 20px;
      text-align: center;
      color: $colorBlack;
    }
  }
}

@media(min-width: 800px) {
  .toDoContent {
    width: 600px;
    height: 600px;
  }
}